body {
  margin: 0;
}

#main-navbar {
  position: fixed;
  top: 0;
  width: 200%;
  height: 47px;
  background-image: -webkit-linear-gradient(top, #517fa4, #306088);
  box-shadow: 2px 3px 10px rgba(50, 50, 50, 0.75);
  z-index: 900;
}

#card-container {
  text-align: center;
  /*max-width: 1050px;*/
  margin: 0px auto 10px auto;
}

.portfolio-thumbnail {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 315px;
  border: 4px solid white;
  overflow: hidden;
  border-radius: 10px;
  max-width: 315px;
  margin: 15px;
  cursor: pointer;
}

.portfolio-thumbnail:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  transform: all 2s;
}

/* Horizontal image gallery */
.gallery {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/* I want to have neighboring images peek through.
   All <img> elements underneath .gallery
   are shrunk to 90% width. */
.gallery > div {
  width: 95%;
}
.gallery::-webkit-scrollbar { 
  display: none; 
}
.website {
  padding: 10px;
  bottom: 20px;
}

.mask {
  background-color: rgba(0,0,0,.8);
  color: white;
  height: 315px;
  font-size: 16px;
  font-weight: lighter;
  font-family: sans-serif;
  padding: 25px;
  position: relative;
  top: -365px;
  white-space: normal;
  border-radius: 10px;
  transition: all 750ms;
}

.text-section {
  height: 160px;
  overflow: auto;
  font-size: 14px;
  overflow-y: scroll;
  white-space: normal;  
  text-align: left;
  -webkit-overflow-scrolling: touch;
}

/* Hide the scrollbars in a gallery. Only works in webkit browsers */
.text-section::-webkit-scrollbar { 
    display: none; 
}

.name {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;
}

.roles, .stack, .features {
    text-align: left;
    padding-bottom: 8px;
    color: #E0E0E0;
    font-size: 14px;
}
.title-highlight {
  color: white;
}
.description {
  font-size: 14px;
  white-space: normal;  
  color: #999;
  text-align: left;
  padding: 4px;
}

/* Hide the scrollbars in a gallery. Only works in webkit browsers */
.description::-webkit-scrollbar { 
    display: none; 
}

/* scrolling area indicator */
#scroll-indicator {
  position: absolute;
  right: -29px;
  bottom: -4%;
  padding: 5% 1%;
  background-color: rgba(112, 128, 144, 0.7);
}

.close-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
}

audio {
  position: relative;
  left: -20px;
  top: 15px;
}

