body {
  color: white;
  font-family: helvetica,Arial,sans-serif;
  background: slategray;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

.center {
  text-align: center;
}

.pb-10 {
  padding-bottom: 10px!important;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}

.mono {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.main-nav {
    float: right;
    margin-right: 3%;

}

.button-style {
  background-color: rgba(169, 169, 169, 0.75);
  border-radius: 10px!important;
}

.button-style a {
  text-decoration: none;
}

.button-style:hover {
  /* i want them to glow */
  box-shadow: 1px 1px 5px 0 #38E;
  transition: all .1s;
  text-decoration: none!important;        
}

.green {
    background: #43984d;
}

.light-blue {
    background: #52BCCE;
}

.teal {
    background: #52BCCE;
}

.yellow {
    background: #FFCA60;
}

#subtitle {
  margin-top: 0;
  font-size: 13px;
  font-style: italic;
}

#main-container h1, #portfolio-header h1 {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 30px;
    line-height: 1em;
    color: white;
    padding-bottom: 30px;
    padding-top: 0px;
}

.mask > .description {
  left: 0;
}

#hero {
  max-width: 300px;
  padding-left: 0;
  padding-right: 0;
}

#portfolio-header {
  text-align: center;
  background-color: rgb(255, 199, 82);
  width: 100%;
}

#hero-container{
  height: 100%;
  width: 100%;
  position:relative;
}

#alternate-container {
  width: 100%;
  background-color: #FFC752;
  color: #ebebeb;
  padding-bottom: 80px;
}

#contact-container {
  width: 100%;
  background-color: #fff;
  color: #333;
  padding-bottom: 20px;
}

#headline-text {
  font-size: 30px;
  padding: 25px;
}

#narrative-text {
  font-size: 24px;
  font-weight: lighter;
  padding: 25px;
}

#testimony {
  font-size: 18px;
  color: #aaaaaa;
  margin: 20px 0;
}

#customer-container {
  background-color: white;
  width: 100%;
}

.customers img {
  padding: 25px 0;
  max-width: 100px;
}

.row-spacer {
  margin-top: 25px;
}

#footer {
  background-color: white;
  font-size: 18px;
  font-weight: lighter;
  color: #52BCCE;
  width: 100%;
  padding: 20px;
  /*border-top: 4px solid #52BCCE;*/
}

#footer a {
  color: #666;
  margin-left: 15px;
  text-decoration: none;
}

#tagline1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  padding-top: 10px;
  line-height: 1;
}

#tagline2 {
  font-size: 2em;
  position: relative;
  bottom: 2px;
}

#tagline3 {
  font-size: 2em;
  position: relative;
  bottom: 2px;
  font-style: oblique;
  line-height: 1;
  padding-bottom: 10px;
}

#tagline3 span {
  color: orange;
}

.row-spacer {
  margin-bottom: 25px;
}

.thumb {
  border: solid 3px #ebebeb;
}

#main-container .thumb {
  float: left;
}

.card {
  border: 1px solid lightgray;
  padding: 16px;
  background-color: whitesmoke;
  color: #333;
  width: 45%;
  margin: 2%;
  display: inline-table;
}

/* svg image */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: #0e1925;
  font-size: 0.625em;
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 32px;
  padding: 3.2rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover {
  border-radius: 100%;
  color: #0e1925;
  fill: #0e1925;
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
          transition: background-color 0.5s, transform 0.5s ease-out;
}

.icon-1 {
  color: #d94a26;
  fill: #d94a26;
}
.icon-1:hover {
  background: #d94a26;
}

.icon-2 {
  color: #d96e26;
  fill: #d96e26;
}
.icon-2:hover {
  background: #d96e26;
}

.icon-3 {
  color: #d99126;
  fill: #d99126;
}
.icon-3:hover {
  background: #d99126;
}

.icon-4 {
  color: #d9b526;
  fill: #d9b526;
}
.icon-4:hover {
  background: #d9b526;
}

.icon-5 {
  color: #d9d926;
  fill: #d9d926;
}
.icon-5:hover {
  background: #d9d926;
}

.icon-6 {
  color: #708090;
  fill: #708090;
}
.icon-6:hover {
  background: #708090;
}

.icon-7 {
  color: #91d926;
  fill: #91d926;
}
.icon-7:hover {
  background: #91d926;
}

.icon-8 {
  color: #6ed926;
  fill: #6ed926;
}
.icon-8:hover {
  background: #6ed926;
}

.icon-9 {
  color: #4ad926;
  fill: #4ad926;
}
.icon-9:hover {
  background: #4ad926;
}

.icon-10 {
  color: #26d926;
  fill: #26d926;
}
.icon-10:hover {
  background: #26d926;
}

.icon-11 {
  color: #52BCCE;
  fill: #52BCCE;
}
.icon-11:hover {
  background: #52BCCE;
}

.icon-12 {
  color: #26d96e;
  fill: #26d96e;
}
.icon-12:hover {
  background: #26d96e;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}

.icon-14 {
  color: #26d9b5;
  fill: #26d9b5;
}
.icon-14:hover {
  background: #26d9b5;
}

.icon-15 {
  color: #26d9d9;
  fill: #26d9d9;
}
.icon-15:hover {
  background: #26d9d9;
}

.icon-16 {
  color: #FFC752;
  fill: #FFC752;
}
.icon-16:hover {
  background: #FFC752;
}

.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}

.icon-18 {
  color: #266ed9;
  fill: #266ed9;
}
.icon-18:hover {
  background: #266ed9;
}

.icon-19 {
  color: #264ad9;
  fill: #264ad9;
}
.icon-19:hover {
  background: #264ad9;
}

.icon-20 {
  color: #2626d9;
  fill: #2626d9;
}
.icon-20:hover {
  background: #2626d9;
}

.icon-21 {
  color: #4a26d9;
  fill: #4a26d9;
}
.icon-21:hover {
  background: #4a26d9;
}

.icon-22 {
  color: #6e26d9;
  fill: #6e26d9;
}
.icon-22:hover {
  background: #6e26d9;
}

.icon-23 {
  color: #9126d9;
  fill: #9126d9;
}
.icon-23:hover {
  background: #9126d9;
}

.icon-24 {
  color: #b526d9;
  fill: #b526d9;
}
.icon-24:hover {
  background: #b526d9;
}

.icon-25 {
  color: #d926d9;
  fill: #d926d9;
}
.icon-25:hover {
  background: #d926d9;
}

.icon-26 {
  color: #d926b5;
  fill: #d926b5;
}
.icon-26:hover {
  background: #d926b5;
}

.icon-27 {
  color: #d92691;
  fill: #d92691;
}
.icon-27:hover {
  background: #d92691;
}

.icon-28 {
  color: #d9266e;
  fill: #d9266e;
}
.icon-28:hover {
  background: #d9266e;
}

.icon-29 {
  color: #d9264a;
  fill: #d9264a;
}
.icon-29:hover {
  background: #d9264a;
}

.si-icon-hamburger-cross svg {
  padding-right: 10px;
}

.si-icon-hamburger-cross svg g path  {
  color: #ebebeb;
  text-shadow: -1px 1px 1px #000;
}

.superhero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.introduction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 88%;
  z-index: 2;
  margin: 0 auto;
  top: 15%;
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center;
}

.introduction p {
  font-size: 1em;
  line-height: 0em;
}

.about-text::-webkit-scrollbar { 
  display: none; 
}

.superpowers-title {
  font-family: 'Allan', cursive;
    font-weight: bold;
    font-size: 3em;
    margin: 34px auto 0 auto;
    text-align: center;
    color: rgb(205, 229, 254);
    letter-spacing: 4px;
    white-space: nowrap;
}

.small-screen-super-powers {
  text-align: center;
  bottom: 20px;
}

.about-text p {
  text-align: justify;
}

.about-text p strong {
  color: #CDE5FE;
}


/* elements that are using media queries */



.main-section {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 2em 10%;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px 10px 10px 3%;
    display: block;
    border-radius: 26%;
    box-shadow: 1px 1px 3px 0 rgba(255, 255, 255, .6);
}

.main-nav li {
    float: left;
    box-shadow: 1px 1px 5px 0 #333;
    border-radius: 3px;
    margin: 0 0 0 10px;
    position: relative;
    top: -0.5em;
    transition: all 0.5s;
}

.si-icon-hamburger-cross {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 4%;
    transition: 1s all;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    display: block;
    cursor: pointer;
}

.main-nav a {
    color: #fff;
    display: block;
    padding: 0.8em 0 0.3em 0;
    text-align: center;
}

.main-nav-list {
  position: absolute;
  right: -104px;
  top: 16px;
  transition: 0.5s all;
}
.main-nav-list>li {
  top: 0;
  margin: 10px 0;
  width: 100px;
}
.main-nav-list>li>a {
  padding: 0.5em 1em;
}

/* media queries */
/* xs up (phone portrait) */
@media only screen {
  
  .main-section {
    padding: 2em 20px;
  }

  .margin-center {

  }

  .about-text {
    height: 32%;
    overflow-y: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(22, 40, 50);
    bottom: 20px
  }

  .powers {
    width: 60%;
  }

  .large-screen-super-powers {
    display: none;
  }

  #main-container {
  width: 100%;
  height: 100%;
  background-color: rgba(113, 203, 223, 0.17);
  padding: 20px 20px;
  line-height: 1.8em;
  color: #AEC4DB;
  }
  
  .logo {
    margin-top: 18px;
  }
  .si-icon-hamburger-cross {
    display: block;
    right: 0;
    width: 64px;
    height: 64px;
  }
  .main-nav-list {
    right: -104px;
    width: 124px;
    top: 70px;
  }
  .main-nav-list>li {
    width: 80px;
  }
  .flex {
    display: inline-block;!important;
    right: 0px!important;
    -webkit-transition: 569ms all ease;
    -o-transition: 569ms all ease;
    transition: 569ms all ease;
  }
  h1 {
    font-size: 26px;
  }
}
/* small up (phone landscape) */
@media only screen and (min-width: 40.063em) {
  .powers {
    width: 50%;
    max-width: 560px;
  }
  
  .main-nav-list {
    width: 143px;
  }
  .main-nav-list>li {
    width: 100px;
  }
  h1 {
    font-size: 36px;
  }
  .si-icon-hamburger-cross {
    display: block;
    right: 4%;
  }
  #main-container {
    padding: 20px 80px;
  }
  .about-text {
    height: 64%;
    background-color: transparent;
    margin-top: 50px;
  }
}
/* medium up (tablets) */
@media only screen and (min-width: 64.063em) {
  .main-section {
    padding: 2em 20px;
  }
  
  .si-icon-hamburger-cross {
    display: none;
  }
  .main-nav-list {
    right: 0px !important;
    width: 100%;
    top: 16px;
    float: right;
    position: relative;
    display: block;
  }
  .main-nav-list > li {
    width: 100px;
    margin: 0 4px;
  }
  .gallery {
  white-space: normal!important;
  }
  .gallery > div {
    width: 100%!important;
  }
  .large-screen-super-powers {
    display: block;
    text-align: center;
  }
  .small-screen-super-powers {
    display: none;
    text-align: center;
  }
  .margin-center {
    margin: 0;
  }
  .superpowers-title {
    font-size: 4em;
  }
  .introduction {
    top: 25%;
  }
}
/* large up (desktop) */
@media only screen and (min-width: 90.063em) {
  .main-section {
    padding: 2em 40px;
  }
}
/* xlarge up (larger desktop) */
@media only screen and (min-width: 120.063em) {
  .main-section {
    padding: 2em 80px;
  }
  
}