body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.75em;
}
.v-sheet {
  padding: 10px 20px;
}

p {
  margin-bottom: 16px; /* Adjust as needed */
}

a {
  color: #5c6bc0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, 'Courier New', monospace;
  margin-top: 24px; /* Adjust as needed */
  margin-bottom: 16px; /* Adjust as needed */
}
